<form class="new_user" id="new_user" novalidate="novalidate" action="/u" accept-charset="UTF-8" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <div class="form-group" id="registro-box">
    <div class="recetas">
      <label for="user_nombre">Nombre</label>
      <input type="text"  autofocus="autofocus"  name="user[nombre]" value="" id="user_nombre" autocomplete="user-nombre">

      <label for="user_apellido">Apellido</label>
      <input type="text" name="user[apellido]" value="" id="user_apellido">

      <label class="email required" for="user_email"> Email*</label><br>
      <input autocomplete="email" class="string email required" required="required" type="email" value="" name="user[email]" id="user_email"><br>

      <label class="password required" for="user_password">Contraseña*</label>
      <input autocomplete="new-password" class="string password required" required="required" type="password" value="" name="user[password]" id="user_password" pattern=".{6,}" >

      <label class="password required" for="user_password_confirmation">Confirmar contraseña*</label>
      <input autocomplete="new-password" class="string password_confirmation required" required="required" type="password" value="" name="user[password_confirmation]" id="user_password_confirmation" pattern=".{6,}">

      <button class="registro" type="submit" name="registrarse">Registrarse</button><br>

      <p>Ya estas registrado? <br><%= link_to "Inicia Sesion", new_user_session_path %></p>
    </div>
  </div>
