<div id="afirmacion" style="width:100%; height:100%">
  <div class="registro">
        <h1>Se ha registrado satisfactoriamente</h1>
        <h2>Inicie sesion con su nuevo usuario</h2>
        <button onclick="location.href='/u/sign_in'" type="button" name="button">Iniciar Sesion</button>
      </div>
</div>
