<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="registro">
      <h1>Se ha registrado satisfactoriamente</h1>
      <h2>Inicie sesion con su nuevo user</h2>
      <button onclick="location.href='/u/sign_in'" type="button" name="button">Iniciar Sesion</button>
    </div>
  </body>
</html>
