<form class="new_recipe" id="new_recipe" novalidate="novalidate" enctype="multipart/form-data" action="/recipes" accept-charset="UTF-8" method="post" accept-charset="UTF-8">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
     <div id="articulo">
     <br><br><label for="recipe_titulo">Titulo:</label><br>
     <input type="text" name="recipe[titulo]" id="recipe_titulo" autocomplete="off"><br><br>
         <select name="recipe[category_id]" id="recipe_category_id"><option value="">Elegir Categoria</option><
           <option value="1">Entradas</option>
           <option value="2">Ensaladas</option>
           <option value="3">Salsas</option>
           <option value="4">Huevos</option>
           <option value="5">Masas</option>
           <option value="6">Sopas</option>
           <option value="7">Frituras</option>
           <option value="8">Tartas</option>
           <option value="9">Pastas</option>
           <option value="10">Verduras/Legumbres</option>
           <option value="11">Pescados/Mariscos</option>
           <option value="12">Carnes</option>
           <option value="13">Aves</option>
           <option value="14">Internacional</option
           <option value="15">Postres</option>
           <option value="16">Confituras</option>
           <option value="17">Bebidas</option>></select><br>

          <br><br><label for="recipe_descripcion">Descripcion:</label>
          <textarea name="recipe[descripcion]" id="recipe_descripcion" rows="4" cols="80"></textarea>
         <br><br><label for="recipe_ingredientes">Ingredientes:</label><br>
         <textarea class="ingredientes" name="recipe[ingredientes]" id="recipe_ingredientes" rows="8" cols="45"
placeholder="*SEPARAR INGREDIENTES CON 1 'enter'*
1째 ingrediente
2째 ingrediente
3째 ingrediente
4째 ingrediente
..."></textarea><br><br>

          <label for="recipe_cuerpo">Pasos:</label><br>
         <textarea class="pasos" style="list" name="recipe[cuerpo]" id="recipe_cuerpo" rows="10" cols="120"
placeholder="*SEPARAR CADA PASO CON 1 'enter'*
Primer paso
Segundo paso
Tercer paso
Cuarto paso
Quinto paso
Sexto paso
Septimo paso
Octavo paso
..."></textarea><br>
        <div class="field">
          <label for="recipe_photo">Foto de la receta terminada</label><br>
            <input type="file" name="recipe[photo]" value="Foto" id="recipe_photo">
          </div>
         <input type="submit" name="commit" value="Crear Receta" data-disable-with="Create Recipe" style="margin-left:550px">
       </div>
</form>
